<div class="card">
    <div class="font-semibold text-xl mb-4">{{ 'tabs.header1' | translate }}</div>
    <p-tabs orientation="left" value="0">
        <p-tablist>
            <p-tab value="0">{{ 'tabs.header1' | translate }}</p-tab>
            <p-tab value="1">{{ 'tabs.header2' | translate }}</p-tab>
            <p-tab value="2">{{ 'tabs.header3' | translate }}</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <p class="m-0">{{ 'tabs.content1' | translate }}</p>
            </p-tabpanel>
            <p-tabpanel value="1">
                <p class="m-0">{{ 'tabs.content2' | translate }}</p>
            </p-tabpanel>
            <p-tabpanel value="2">
                <p class="m-0">{{ 'tabs.content3' | translate }}</p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
