<div class="upload-container">
    <h3>{{ 'upload.title' | translate }}</h3>
    <p-fileUpload
      name="cv"
      customUpload="true"
      accept=".pdf,.doc,.docx"
      maxFileSize="5000000"
      [chooseLabel]="'upload.choose' | translate"
      [uploadLabel]="'upload.upload' | translate"
      [cancelLabel]="'upload.cancel' | translate"
      (onSelect)="onFileSelected($event)"
      (uploadHandler)="uploadCv()"
      [auto]="false"
    >
      <ng-template pTemplate="content">
        <div class="drag-drop-message">
          {{ 'upload.dragDropMessage' | translate }}
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
