<div class="new-form-card-wrapper">
  <p-panel class="p-mb-5 new-form-card-container p-mt-20">
     <ng-template pTemplate="header">
        <h3>Add New Prompt</h3>
      </ng-template>

    <form (ngSubmit)="onSubmit()" class="p-fluid">

      <div class="p-field p-mb-4">
        <label for="promptCode" class="p-text-bold p-mb-2">Prompt Code</label>
        <input
          id="promptCode"
          type="text"
          pInputText
          [(ngModel)]="prompt.promptCode"
          name="promptCode"
          placeholder="e.g. PROMPT_001"
          class="p-inputtext w-full my-3"
          required
        />
      </div>

      <div class="p-field p-mb-4">
        <label for="promptDesc" class="p-text-bold p-mb-2">Text (Required)</label>
        <textarea
          id="promptDesc"
          pInputTextarea
          [(ngModel)]="prompt.promptDesc"
          name="promptDesc"
          placeholder="Enter prompt description..."
          rows="6"
          class="p-inputtext w-full my-3"
          required
        ></textarea>
      </div>

      <div class="p-field p-mb-4">
        <label for="schema" class="p-text-bold p-mb-2">Schema (JSON)</label>
        <textarea
          id="schema"
          pInputTextarea
          [(ngModel)]="prompt.schema"
          name="schema"
          placeholder='e.g. {"key":"value"}'
          rows="6"
          class="p-inputtext w-full my-3"
        ></textarea>
      </div>

      <div class="p-d-flex p-jc-end p-mt-5">
        <button
          pButton
          type="submit"
          label="Save Prompt"
          icon="pi pi-check"
          class="p-button p-button-lg p-button-info"
          [disabled]="!prompt.promptCode || !prompt.promptDesc"
        ></button>
      </div>

    </form>
  </p-panel>
</div>