.loader-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;

   &.with-overlay {
     position: fixed;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.1);
     z-index: 1000;
   }
 }

.loader-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.message {
   color: inherit;
   margin-top: 0.5rem;
   font-size: 1.5rem;
}
::ng-deep .test-spinner {
   circle {
     stroke: var(--primary-color);
     animation: p-progress-spinner-dash 1.5s ease-in-out infinite !important;
   }
 }