@if (isLoading$ | async) {
<app-loader [message]="loadingMessage$ | async" [withOverlay]="true"></app-loader>
} @else {
<div class="offer-container">
  <div class="offer-header-card">
    <p-card class="shadow-md rounded-2xl border border-gray-200 p-6 mb-6 transition hover:shadow-lg">
      <div class="offer-title-line">
        <i class="pi pi-briefcase detail-icon-title mr-2"></i>
        <span class="offerTitle font-semibold text-2xl">{{ offerTitle }}</span>
      </div>

      <div class="offer-general-details-line">
        <div class="detail-item">
          <i class="pi pi-code detail-icon mr-2"></i>
          <span class="text-lg">{{ mainTech }}</span>
        </div>
        <div class="detail-item">
          <i class="pi pi-clock detail-icon mr-2"></i>
          <span class="text-lg">{{ yearsOfExperience }}+ {{ 'offerDetails.yearsExperience' | translate }}</span>
        </div>
      </div>
    </p-card>
  </div>

  <p-card class="shadow-md rounded-2xl border border-gray-200 p-6 mb-6 transition hover:shadow-lg">
    <div class="flex justify-center px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-4xl w-full justify-items-sart">

        @if (description) {
        <div class="job-description mb-2 col-span-1 md:col-span-2 ">
          <div class="flex items-center mb-4">
              <div class="bg-primary text-white p-2 rounded-full mr-4">
                <i class="pi pi-info-circle text-lg"></i>
              </div>
              <span class="font-bold text-xl">{{ 'offerDetails.sections.jobDescription' | translate }}</span>
          </div>
          <hr class="border-gray-400 mb-4">
          <p class="text-lg ml-8 font-medium text-justify">{{ description }}</p>
        </div>
        }

        <div class="responsibilities-section col-span-1 md:col-span-2">
           <div class="flex items-center mb-4">
              <div class="bg-primary text-white p-2 rounded-full mr-4">
                <i class="pi pi-list text-lg"></i>
              </div>
              <span class="font-bold text-xl">{{ 'offerDetails.sections.mainResponsibilities' | translate }}</span>
          </div>
          <hr class="border-gray-400 mb-4">
          <ul class="list-disc ml-16 text-lg space-y-2">
            @for (responsibility of mainResponsibilitiesList; track responsibility) {
            <li class="font-medium">{{ responsibility.trim() }}</li>
            } @empty {
            <li>{{ 'offerDetails.noData.responsibilities' | translate }}</li>
            }
          </ul>
        </div>

        <div class="education-section">
          <div class="flex items-center mb-4">
              <div class="bg-primary text-white p-2 rounded-full mr-4">
                <i class="pi pi-book text-lg"></i>
              </div>
              <span class="font-bold text-xl">{{ 'offerDetails.sections.education' | translate }}</span>
          </div>
          <hr class="border-gray-400 mb-4">
          <ul class="list-disc ml-16 text-lg space-y-2">
            @for (edu of educationList; track edu) {
            <li class="font-medium">{{ edu.trim() }}</li>
            }
          </ul>
        </div>

        @if (languages.length > 0) {
        <div class="languages-section">
          <div class="flex items-center mb-4">
              <div class="bg-primary text-white p-2 rounded-full mr-4">
                <i class="pi pi-globe text-lg"></i>
              </div>
              <span class="font-bold text-xl">{{ 'offerDetails.sections.languages' | translate }}</span>
          </div>
          <hr class="border-gray-400 mb-4">
          <ul class="list-disc ml-16 text-lg space-y-2">
            @for (lang of languages; track lang) {
            <li class="font-medium">{{ lang.languageName }} - {{ getLanguageLevel(lang.level) }}</li>
            }
          </ul>
        </div>
        } @else {
        <div></div>
        }

        <div class="skills-section">
          <div class="flex items-center mb-4">
              <div class="bg-primary text-white p-2 rounded-full mr-4">
                <i class="pi pi-star text-lg"></i>
              </div>
              <span class="font-bold text-xl">{{ 'offerDetails.sections.requiredSkills' | translate }}</span>
          </div>
          <hr class="border-gray-400 mb-4">
          <div class="flex flex-wrap gap-2 ml-12">
            @for (skill of skillsList; track skill) {
              <span class="bg-blue-100 text-blue-800 px-3 py-1 rounded-full text-sm font-medium
             hover:bg-blue-200 transition cursor-default">
                {{ skill.trim() }}
              </span>
            }
          </div>
        </div>

        <div class="keywords-section ">
          <div class="flex items-center mb-4">
              <div class="bg-primary text-white p-2 rounded-full mr-4">
                <i class="pi pi-tags text-lg"></i>
              </div>
              <span class="font-bold text-xl">{{ 'offerDetails.sections.keywords' | translate }}</span>
          </div>
          <hr class="border-gray-400 mb-4">
          <div class="flex flex-wrap gap-2 ml-12">
            @for (keyword of keywordsList; track keyword) {
              <span class="bg-blue-100 text-blue-800 px-3 py-1 rounded-full text-sm font-medium
             hover:bg-blue-200 transition cursor-default">
                {{ keyword.trim() }}
              </span>
            }
          </div>
        </div>

      </div>
    </div>
  </p-card>


</div>

}

<app-recommended-candidates [offerId]="offerId"></app-recommended-candidates>
