@if (isLoading$ | async) {
<app-loader [message]="loadingMessage$ | async" [withOverlay]="true"></app-loader>
} @else {
<div class="offer-container">
  <div class="offer-header-card">
    <p-card>
      <div class="offer-title-line">
        <i class="pi pi-briefcase detail-icon-title mr-2"></i>
        <span class="offerTitle">{{ offerTitle }}</span>
      </div>

      <div class="offer-general-details-line">
        <div class="detail-item">
          <i class="pi pi-code detail-icon mr-2"></i>
          <span>{{ mainTech }}</span>
        </div>
        <div class="detail-item">
          <i class="pi pi-clock detail-icon mr-2"></i>
          <span>{{ yearsOfExperience }}+ Years Experience</span>
        </div>
      </div>
    </p-card>
  </div>


  <p-card class="job-offer-card p-6">
    @if (description) {
    <div class="job-description mb-8">
      <div class="flex items-center mb-4">
        <i class="pi pi-info-circle text-5xl mr-4 text-primary"></i>
        <span class="font-bold text-2xl">Job Description</span>
      </div>
      <p class="ml-10 text-xl font-medium">{{ description }}</p>
    </div>
    }

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="skills-section">
        <div class="flex items-center mb-4">
          <i class="pi pi-star text-3xl mr-4 text-primary"></i>
          <span class="font-bold text-2xl">Required Skills</span>
        </div>
        <ul class="list-disc pl-12 text-xl space-y-2">
          @for (skill of skillsList; track skill) {
          <li class="font-medium">{{ skill.trim() }}</li>
          }
        </ul>
      </div>

      <div class="responsibilities-section">
        <div class="flex items-center mb-4">
          <i class="pi pi-list text-3xl mr-4 text-primary"></i>
          <span class="font-bold text-2xl">Main Responsibilities</span>
        </div>
        <ul class="list-disc pl-12 text-xl space-y-2">
          @for (responsibility of mainResponsibilitiesList; track responsibility) {
          <li class="font-medium">{{ responsibility.trim() }}</li>
          } @empty {
          <li>No responsibilities available.</li>
          }
        </ul>
      </div>

      <div class="education-section">
        <div class="flex items-center mb-4">
          <i class="pi pi-book text-3xl mr-4 text-primary"></i>
          <span class="font-bold text-2xl">Education & Qualifications</span>
        </div>
        <ul class="list-disc pl-12 text-xl space-y-2">
          @for (edu of educationList; track edu) {
          <li class="font-medium">{{ edu.trim() }}</li>
          }
        </ul>
      </div>

      @if (languages.length > 0) {
      <div class="languages-section">
        <div class="flex items-center mb-4">
          <i class="pi pi-globe text-3xl mr-4 text-primary"></i>
          <span class="font-bold text-2xl">Language Requirements</span>
        </div>
        <ul class="list-disc pl-12 text-xl space-y-2">
          @for (lang of languages; track lang) {
          <li class="font-medium">{{ lang.languageName }} - {{ lang.level }}</li>
          }
        </ul>
      </div>
      }
    </div>
    <div class="keywords-section mt-8 flex items-start">
      <span class="text-xl font-medium">
        <i class="pi pi-tags detail-icon mr-2 text-primary text-3xl"></i>
        <span class="font-bold text-2xl mr-4 keywords-title">Keywords: </span>
        @for (keyword of keywordsList; track keyword){
        {{ keyword }}
        @if(!$last){
        <span>, </span>
        }
        }
      </span>
    </div>
  </p-card>

</div>
}