<div class="card">
  <p-steps [model]="steps" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>

  <div class="p-mt-4">
    <ng-container [ngSwitch]="activeIndex">
      <!--  General Data -->
      <div *ngSwitchCase="0" [formGroup]="generalDataForm">
        <!-- Full Name -->
        <div class="p-field">
          <label for="fullName" translate>Full Name</label>
          <input id="fullName" type="text" pInputText formControlName="fullName">
          <small *ngIf="generalDataForm.get('fullName')?.touched">
            <ng-container *ngIf="generalDataForm.get('fullName')?.hasError('required')">
              <i class="pi pi-times-circle"></i> <span translate>Full Name is required</span>.
            </ng-container>
            <ng-container *ngIf="generalDataForm.get('fullName')?.hasError('pattern')">
              <i class="pi pi-times-circle"></i> <span translate>Only letters and spaces are allowed</span>.
            </ng-container>
          </small>
        </div>
        <!-- Birth Date -->
        <div class="p-field">
          <label for="birthDate" translate>Birth Date</label>
          <input id="birthDate" type="date" pInputText formControlName="birthDate">
          <small *ngIf="generalDataForm.get('birthDate')?.touched">
            <ng-container *ngIf="generalDataForm.get('birthDate')?.hasError('required')">
              <i class="pi pi-times-circle"></i> <span translate>Birth Date is required</span>.
            </ng-container>
            <ng-container *ngIf="generalDataForm.get('birthDate')?.hasError('underAge')">
              <i class="pi pi-times-circle"></i> <span translate>You must be at least 18 years old</span>.
            </ng-container>
            <ng-container *ngIf="generalDataForm.get('birthDate')?.hasError('overAge')">
              <i class="pi pi-times-circle"></i> <span translate>Age exceeds allowed limit</span>.
            </ng-container>
          </small>
        </div>
        <!-- Years of Experience -->
        <div class="p-field">
          <label for="yearsOfExperience" translate>Years of Experience</label>
          <input id="yearsOfExperience" type="number" pInputText formControlName="yearsOfExperience">
          <small *ngIf="generalDataForm.get('yearsOfExperience')?.touched">
            <ng-container *ngIf="generalDataForm.get('yearsOfExperience')?.invalid">
              <i class="pi pi-times-circle"></i> <span translate>Please enter a valid number</span>.
            </ng-container>
          </small>
          <small *ngIf="generalDataForm.hasError('invalidExperience')">
            <i class="pi pi-times-circle"></i> <span translate>Experience exceeds what is possible given your birth date</span>.
          </small>
        </div>
        <!-- Gender -->
        <div class="p-field">
          <label translate>Gender</label>
          <div class="p-formgroup-inline">
            <p-radioButton name="gender" value="Male" formControlName="gender"></p-radioButton>
            <label translate>Male</label>
            <p-radioButton name="gender" value="Female" formControlName="gender"></p-radioButton>
            <label translate>Female</label>
          </div>
          <small *ngIf="generalDataForm.get('gender')?.touched && generalDataForm.get('gender')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Gender is required</span>.
          </small>
        </div>
        <!-- Main Technology -->
        <div class="p-field">
          <label for="mainTech" translate>Main Technology</label>
          <input id="mainTech" type="text" pInputText formControlName="mainTech">
          <small *ngIf="generalDataForm.get('mainTech')?.touched && generalDataForm.get('mainTech')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Main Technology is required</span>.
          </small>
        </div>
        <!-- Summary -->
        <div class="p-field">
          <label for="summary" translate>Summary</label>
          <textarea id="summary" pInputTextarea formControlName="summary"></textarea>
          <small *ngIf="generalDataForm.get('summary')?.touched && generalDataForm.get('summary')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Summary is required</span>.
          </small>
        </div>
      </div>

      <!--  Address -->
      <div *ngSwitchCase="1" [formGroup]="addressForm">
        <div class="p-field">
          <label for="street" translate>Street</label>
          <input id="street" type="text" pInputText formControlName="street">
          <small *ngIf="addressForm.get('street')?.touched && addressForm.get('street')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Street is required</span>.
          </small>
        </div>
        <div class="p-field">
          <label for="postalCode" translate>Postal Code</label>
          <input id="postalCode" type="text" pInputText formControlName="postalCode">
          <small *ngIf="addressForm.get('postalCode')?.touched">
            <ng-container *ngIf="addressForm.get('postalCode')?.hasError('required')">
              <i class="pi pi-times-circle"></i> <span translate>Postal Code is required</span>.
            </ng-container>
            <ng-container *ngIf="addressForm.get('postalCode')?.hasError('pattern')">
              <i class="pi pi-times-circle"></i> <span translate>3-10 alphanumeric characters, spaces or hyphens</span>.
            </ng-container>
          </small>
        </div>
        <div class="p-field">
          <label for="fullAddress" translate>Full Address</label>
          <input id="fullAddress" type="text" pInputText formControlName="fullAddress">
          <small *ngIf="addressForm.get('fullAddress')?.touched && addressForm.get('fullAddress')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Full Address is required</span>.
          </small>
        </div>
        <div class="p-field">
          <label for="city" translate>City</label>
          <input id="city" type="text" pInputText formControlName="city">
          <small *ngIf="addressForm.get('city')?.touched && addressForm.get('city')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Only letters and spaces are allowed</span>.
          </small>
        </div>
        <div class="p-field">
          <label for="country" translate>Country</label>
          <input id="country" type="text" pInputText formControlName="country">
          <small *ngIf="addressForm.get('country')?.touched && addressForm.get('country')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Only letters and spaces are allowed</span>.
          </small>
        </div>
      </div>

      <!--  Education -->
      <div *ngSwitchCase="2" [formGroup]="educationForm">
        <div class="p-field">
          <label for="institution" translate>Institution</label>
          <input id="institution" type="text" pInputText formControlName="institution">
          <small *ngIf="educationForm.get('institution')?.touched && educationForm.get('institution')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Institution is required</span>.
          </small>
        </div>

        <div class="p-field p-grid">
          <div class="p-col-6">
            <label for="startDateEdu" translate>Start Date</label>
            <input id="startDateEdu" type="date" pInputText formControlName="startDate">
            <small *ngIf="educationForm.get('startDate')?.touched && educationForm.get('startDate')?.invalid">
              <i class="pi pi-times-circle"></i> <span translate>Start Date is required</span>.
            </small>
          </div>
          <div class="p-col-6">
            <label for="endDateEdu" translate>End Date</label>
            <input id="endDateEdu" type="date" pInputText formControlName="endDate">
            <small *ngIf="educationForm.get('endDate')?.touched && educationForm.get('endDate')?.invalid">
              <i class="pi pi-times-circle"></i> <span translate>End Date is required</span>.
            </small>
          </div>
        </div>
        <div class="p-field">
          <label for="diploma" translate>Diploma</label>
          <input id="diploma" type="text" pInputText formControlName="diploma">
          <small *ngIf="educationForm.get('diploma')?.touched && educationForm.get('diploma')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Diploma is required</span>.
          </small>
        </div>
      </div>

      <!--  Experience -->
      <div *ngSwitchCase="3" [formGroup]="experienceForm">
        <div class="p-field">
          <label for="companyName" translate>Company Name</label>
          <input id="companyName" type="text" pInputText formControlName="companyName">
          <small *ngIf="experienceForm.get('companyName')?.touched && experienceForm.get('companyName')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Company Name is required</span>.
          </small>
        </div>
        <div class="p-field">
          <label for="position" translate>Position</label>
          <input id="position" type="text" pInputText formControlName="position">
          <small *ngIf="experienceForm.get('position')?.touched && experienceForm.get('position')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Position is required</span>.
          </small>
        </div>
        <div class="p-field p-grid">
          <div class="p-col-6">
            <label for="startDateExp" translate>Start Date</label>
            <input id="startDateExp" type="date" pInputText formControlName="startDate">
            <small *ngIf="experienceForm.get('startDate')?.touched && experienceForm.get('startDate')?.invalid">
              <i class="pi pi-times-circle"></i> <span translate>Start Date is required</span>.
            </small>
          </div>
          <div class="p-col-6">
            <label for="endDateExp" translate>End Date</label>
            <input id="endDateExp" type="date" pInputText formControlName="endDate">
            <small *ngIf="experienceForm.get('endDate')?.touched && experienceForm.get('endDate')?.invalid">
              <i class="pi pi-times-circle"></i> <span translate>End Date is required</span>.
            </small>
            <small *ngIf="experienceForm.hasError('futureEndDate')">
              <i class="pi pi-times-circle"></i> <span translate>End Date cannot be in the future</span>.
            </small>
            <small *ngIf="experienceForm.hasError('invalidDateRange')">
              <i class="pi pi-times-circle"></i> <span translate>Start Date must come before End Date</span>.
            </small>
          </div>
        </div>
        <div class="p-field">
          <label for="descriptionExp" translate>Description</label>
          <textarea id="descriptionExp" pInputTextarea formControlName="description"></textarea>
          <small *ngIf="experienceForm.get('description')?.touched && experienceForm.get('description')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Description is required</span>.
          </small>
        </div>
      </div>

      <!--  Languages -->
      <div *ngSwitchCase="4" [formGroup]="languageForm">
        <div class="p-field">
          <label for="language" translate>Language</label>
          <input id="language" type="text" pInputText formControlName="language">
          <small *ngIf="languageForm.get('language')?.touched">
            <ng-container *ngIf="languageForm.get('language')?.hasError('required')">
              <i class="pi pi-times-circle"></i> <span translate>Language is required</span>.
            </ng-container>
            <ng-container *ngIf="languageForm.get('language')?.hasError('pattern')">
              <i class="pi pi-times-circle"></i> <span translate>Only letters and spaces are allowed</span>.
            </ng-container>
          </small>
        </div>
        <div class="p-field">
          <label for="level" translate>Level</label>
          <p-dropdown id="level" [options]="languageLevels" formControlName="level" placeholder="{{'Select Level' | translate}}" optionLabel="label" optionValue="value"></p-dropdown>
          <small *ngIf="languageForm.get('level')?.touched && languageForm.get('level')?.invalid">
            <i class="pi pi-times-circle"></i> <span translate>Level is required</span>.
          </small>
        </div>
        <div class="p-field">
          <button pButton type="button" label="{{'Add' | translate}}" icon="pi pi-plus" (click)="addLanguage()"></button>
        </div>
      </div>

    </ng-container>
  </div>
</div>
