.email-popup {
    .p-dialog-content {
      padding-top: 1rem !important;
      padding-bottom: 0.5rem !important;
    }

    .field {
      display: flex;
      flex-direction: column;
    }

    textarea {
      font-family: inherit;
      font-size: 0.95rem;
    }
  }

  ::ng-deep .email-popup-flex-height {
    width: 60vw !important;
    max-height: 90vh !important;
    overflow-y: auto;
  }
